<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Maddi - Atelie floral</title>
   
    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'siteapp/css/bootstrap.min.css' %}" type = "text/css"/>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
     {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'siteapp/css/business-casual.min.css' %}" type = "text/css"/>

  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span style="color:#d9ffb3" class="site-heading-upper  mb-2">Atelie Floral</span>
      <span  style="color:#ffcccc" class="site-heading-lower">Maddi</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Maddi - Atelie floral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href='/'>Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href='/sobre/'>Sobre</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href='/produtos/'>Produtos</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href='/contato/'>Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'siteapp/img/intro.jpg' %}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Arranjos lindos</span>
              <span class="section-heading-lower">Vale a visita!</span>
            </h2>
            <p class="mb-3">Cada minuto que você passar na Maddi será uma experiencia feliz,contamos com diversos arranjos, suculentas, cactos entre outros produtos. Tudo para que seu tempo gasto conosco seja apreciado em cada minuto. Nós garantimos um café passado na hora, um chá quentinho e um ambiente aconchegante, venha nos visitar!
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="#">Quero visitar!</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Nossa promessa</span>
                <span class="section-heading-lower">Para você</span>
              </h2>
              <p class="mb-0">Quando você andar para dentro de nossa loja para alegrar seu dia, nós somos dedicados a prover para você um serviço amigo, uma atmosfera aconchegante, e acima de tudo, otimos produtos feitos com o maior grau de carinho e dedicação.</p>
            </div>
          </div>
        </div>
      </div>
    </section>






    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p style="color:#000001" class="m-0 small">Copyright &copy; Maddi - Atelie floral 2018</p>
      </div>
      <div class="container-fluid" style='margin-left:15px'>
      <p><a href="https://www.instagram.com/instadamaddi/" target="blank">
           <img src="{% static 'siteapp/img/instagram.png' %}" width="30" height="30" alt="">
          </a>
       | <a href="https://www.facebook.com/maddicuritiba/" target="blank">
           <img src="{% static 'siteapp/img/facebook.png' %}" width="30" height="30" alt="">
          </a>
        </p>
      </div>
    </footer>

     {% load staticfiles %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'siteapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'siteapp/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
