<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

   <title>Maddi - Atelie floral</title>

    {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'produtosapp/css/bootstrap.min.css' %}" type = "text/css"/>


    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'produtosapp/css/business-casual.min.css' %}" type = "text/css"/>

  </head>

  <body>

   </h1>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span style="color:#d9ffb3" class="site-heading-upper  mb-2">Atelie Floral</span>
      <span  style="color:#ffcccc" class="site-heading-lower">Maddi</span>
    </h1>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Maddi - Atelie floral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href='/'>Home</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href='/sobre/'>Sobre</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href='/produtos/'>Produtos
              <span class="sr-only">(current)</span>
            </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href='/contato/'>Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Cactos alegres</span>
                <span class="section-heading-lower">Mudas &amp; Vazos</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'produtosapp/img/produto-01.jpg' %}" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Cactos são legais e podem ser usados como um companheiro no longo dia de trabalho.
              Dão pouco trabalho e quase não adoecem.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Lindas flores e suculentas</span>
                <span class="section-heading-lower">Suculentas &amp; Arranjos florais</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'produtosapp/img/produto-02.jpg' %}" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Está querendo dar um lindo arranjo de presente? Nós fazemos arranjos personalizados.
              Sem falar em nossas lindas suculentas, que estão sempre lindas e esperando alguém para leva-las para casa.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Acessorios</span>
                <span class="section-heading-lower">Macrames lindos</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'produtosapp/img/produto-03.jpg' %}" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Com esses suportes, sua decoração não será prejuduicada. Agora pendurar as plantas também pode ser algo estiloso!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p style="color:#000001" class="m-0 small">Copyright &copy; Maddi - Atelie floral 2018</p>
      </div>
      <div class="container-fluid" style='margin-left:15px'>
      <p><a href="https://www.instagram.com/instadamaddi/" target="blank">
           <img src="{% static 'produtosapp/img/instagram.png' %}" width="30" height="30" alt="">
          </a>
       | <a href="https://www.facebook.com/maddicuritiba/" target="blank">
           <img src="{% static 'produtosapp/img/facebook.png' %}" width="30" height="30" alt="">
          </a>
        </p>
      </div>
    </footer>

   {% load staticfiles %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'produtosapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'produtosapp/js/bootstrap.bundle.min.js' %}"></script>
  </body>

</html>
